i {
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.icon-notification {
    content: url('./notification-bell-svgrepo-com.svg');
    cursor: pointer;
}

.icon-edit {
    content: url('./edit-3-svgrepo-com.svg');
    cursor: pointer;
}

.icon-delete {
    content: url('./delete-2-svgrepo-com.svg');
    cursor: pointer;
}

.icon-close {
    content: url('./close-svgrepo-com.svg');
    cursor: pointer;
}

.icon-copy {
    content: url('./copy-svgrepo-com.svg');
}
